@import url('./style/header.css');
@import url('./style/landingBlock.css');
@import url('./style/possibilityBlock.css');
@import url('./style/benefitsBlock.css');
@import url('./style/whomBlock.css');
@import url('./style/comparisonBlock.css');
@import url('./style/slider.css');
@import url('./style/priceBlock.css');
@import url('./style/reportsBlock.css');
@import url('./style/whyBlock.css');
@import url('./style/maybeBlock.css');
@import url('./style/footerBlock.css');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Caption:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

*, html {
    box-sizing:border-box;
}

.section {
    margin: 0 0 110px 0;
}

.section_big {
    margin: 0 0 132px 0;
}

.section_biggest {
    margin: 0 0 164px 0;
}

.section_small {
    margin: 0 0 40px 0;
}

.container {
    width: 1200px;
    margin: auto;
}

.container_flex {
    display: flex;
    align-items: center;
}

.section_slider {
    display: flex;
    flex-wrap: wrap;

    width: 802px;
}

a {
    text-decoration: none;
    color: #333333;   
}

.clickable {
    cursor: pointer;
}

.input {
    border: none;
}

.hideOnDesktop {
    display: none;
}

@media (max-width: 1365px) {
    ::-webkit-scrollbar {
        height: 0;
    }
}

@media (max-width: 1919px) {
    .container {
        width: 990px;
    }
    
    .hideOnLaptop {
        display: none;
    }

    .showOnLaptop {
        display: block;
    }

    .section {
        margin: 0 0 90px 0;
    }
    
    .section_big {
        margin: 0 0 130px 0;
    }
    
    .section_biggest {
        margin: 0 0 138px 0;
    }
    
    .section_small {
        margin: 0 0 45px 0;
    }
}

@media (max-width: 1365px) {
    .container {
        width: 640px;
    }

    .section {
        margin: 0 0 70px 0;
    }

    .section_smallTablet {
        margin: 0 0 47px 0;
    }

    .hideOnTablet {
        display: none;
    }
    
    .showOnTablet {
        display: block;
    }
}

@media (max-width: 767px) {
    .showOnPhone {
        display: block;
    }
    .hideOnPhone {
        display: none;
    }

    .header {
        margin: 0 0 30px 0;
    }

    .section {
        margin: 0 0 60px 0;
    }

    .container {
        width: 288px;
    }
}