.header {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.header__linkName {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-transform: capitalize;
}


.section {
    margin-bottom: 110px;

    &_small {
        margin-bottom: 100px;
    }

    &_smallest {
        margin-bottom: 40px;
    }
}